footer {
    border-top: 1px solid #999;
    padding-top: 3rem;
    margin-top: 3rem;
    background-color: #161616;

    a {
        color: #A6A6A6;

        &:hover {
            color: lighten(#A6A6A6, 10);
        }
    }

    .row {
        margin-bottom: 2em;
    }

    h4 {
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        color: lighten(#A6A6A6, 10);
    }

    .darker {
        padding-top: 2rem;
        background: #0A0A0A;
        color: #666;
    }
}
