@keyframes clouds {
    0% {
        background-position:
            0 0;
    }
    100% {
        background-position:
            100000rem 0;
    }
}

nav {
    @extend .elevated-2;
    margin-top: 1em;
    line-height: 2.5;
    z-index: 9999;

    .navbar-brand {
        margin-top: -0.15rem;
    }

    &.navbar-dark {
        background: #373A3C;
    }
    
    &.navbar-dark .navbar-nav .nav-link {
        color: white;
    }

    .navbar-nav .nav-link {
        &.btn {
            color: white;
            margin-top: 0.4rem;
        }
    }
}

.navbar-extended {
    position: absolute;
    width: calc(100% - 130px);
    left: 0;
    bottom: 0;
    z-index: 1000;
    margin-left: 130px;
}

.nav-text {
    float: left;
    line-height: 2.5;
    padding-right: 1rem;
    margin-top: 0.425rem;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: $linode-green;
}
