@keyframes clouds {
    0% {
        background-position:
            0 0;
    }
    100% {
        background-position:
            100000rem 0;
    }
}

nav {
    line-height: 2.5;
    background: #373a3c;
    border: 1px solid black;

    .navbar-brand {
        margin-top: -0.15rem;
    }

    &.navbar-dark .navbar-nav .nav-link {
        color: white;
    }

    .navbar-collapse {
        display: initial;
        @media (max-width: 557px) {
            display: none;
        }
    }

    a {

    }

    .navbar-nav .nav-link {
        &.btn {
            color: white;
            margin-top: 0.4rem;
        }
    }
}

.navbar-extended {
    position: absolute;
    width: calc(100% - 130px);
    left: 0;
    bottom: 0;
    z-index: 1000;
    margin-left: 130px;
}

.nav-text {
    float: left;
    line-height: 2.5;
    padding-right: 25px;
    margin-top: 0.425rem;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;

    a {
        text-decoration: none !important;
        color: $linode-green;
        font-size: small;
    }
}
